
/* GERAL */

@import url('https://fonts.cdnfonts.com/css/wise');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --green-gradient: linear-gradient(180deg, #278848 0%, #59a928 100%);
  --white: #fff;
  --gray-400: #e8ebe6;
  --gray-100: #fafafa;
  --green-ligth: #9fe870;
  --green-hover: #c1f1a3;
  --blue-light: #A0E1E1;
  --blue-transparent: #16330014;
  --green-transparent: #285009;
  --black-700: #0e0f0c;
  --black-green: #163300;
  --gray-500: rgba(85, 85, 85, 0.55);
  --dove-gray-900: #3d3d3d;
  --font-primary: 'WISE', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}
body {
   height: 500vh;
}

/* HEADER */

.menu-desktop {
  padding: 1.5rem 6%;
  background-color: var(--black-green);
  color: var(--green-ligth);
  display: flex;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 99999;
}

.menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--font-primary);
  font-size: 32px;
  color: var(--green-ligth);
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 60px;
}
.logo img {
  width: 32px;
  margin-right: -5px;
}
.menu-rigth {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-item {
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 30px;
  color: var(--green-ligth);
}
.menu-link {
  text-decoration: none;
  color: var(--green-ligth);
  cursor: pointer;
  padding: 10px;
}
.menu-link:hover {
  padding: 10px;
  background: var(--green-transparent);
  border-radius: 15px;
}

.menu-btn{
  background-color: var(--green-ligth);
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  color: var(--black-green);
  cursor: pointer;
}
.menu-btn:hover {
  filter: brightness(1.3);
}

/* ESTILO DO MENU MOBILE */
.btn-sandwich button {
  display: none;
  padding: 10px;
  background-color: var(--green-transparent);
  border: none;
  border-radius: 50%;
}
.mobile-menu {
  display: none;
  background: var(--gray-100);
  height: 100vh;
  width: 100vh;
  position: fixed;
  z-index: 10000;
  padding: 1.2rem 6%;
  margin-top: 1.5rem;
  text-align: left;
}
.mobile-menu nav ul li {
  list-style: none;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  padding-top: 2.5rem;
}
.mobile-menu nav ul li a{
  text-decoration: none;
  color: var(--black-700);
  text-align: left;
}
.open-menu{
  display: block;
}
/* MAIN */

.hero__container {
    padding: 1.5rem 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
 
  }
  
 .hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.2rem;
    background-color: var(--black-green);

}
 .hero__title {
    display: flex;
    justify-content: center;
    color: var(--green-ligth);
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 7rem;
    text-align: center;
    margin-top: 5rem;
  }
  
  .btn__container {
    display: flex;
    gap: 2.4rem;
    align-items: center;
  }
  
  .hero__subtitle {
    color: var(--gray-100);
    font-size: 18px;
    font-family: var(--font-secondary);
    font-weight: 400;
    line-height: 2.2rem;
    margin-bottom: 2.4rem;
    text-align: center;
  }
  
  .open-acount {

    border: none;
    background: var(--green-ligth);
    padding: 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    border-radius: 40px;
    font-family: var(--font-secondary);
    font-weight: 700;
    line-height: 2.2rem;
    cursor: pointer;
  }
  .open-acount a {
    text-decoration: none;
    color: var(--black-green);
  }
  
  .link-moreInfo {  
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green-ligth);
    font-size: 1.4rem;
    font-family: var(--font-secondary);
    font-weight: 700;
    line-height: 2.2rem;
    gap: 1rem;
    cursor: pointer;
    position: relative;
  }
  .link-moreInfo::after {
    content: " ";
    width: 100%;
    height: 0.2rem;
    background-color: var(--green-ligth);
    position: absolute;
    top: 2.3rem;
    border-radius: 3.1rem;
  }
  
  .link-moreInfo:hover {
    filter: brightness(1.3);

  }
  
  .open-acount:hover {
    filter: brightness(1.3);
  }
  .img-hero{
    background-color: var(--black-green);
  }
  .img-banner img {
    margin-bottom: -3.5rem;
    padding: 1.5rem 4%;
    position: relative;
    width: 100%; 
}
@media screen and (max-width: 1200px) {
  .hero__title {
    display: flex;
    justify-content: center;
    color: var(--green-ligth);
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
  }
}
@media screen and (max-width: 992px) {
  .btn-sandwich button{
    display: block;
  }
  .menu-desktop {
    border-bottom: solid 0.1px;
    border-color: var(--green-ligth);
  }
  .menu-desktop nav {
    display: none;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: right;
    text-align: center;
  }
  .mobile-menu ul li{
    padding-top: 1.2rem;
  }
  @media screen and (max-width: 430px) {
    .link-moreInfo {  
      font-size: .8rem;
    }
  }
}
