/* GERAL */

@import url('https://fonts.cdnfonts.com/css/wise');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --green-gradient: linear-gradient(180deg, #278848 0%, #59a928 100%);
  --white: #fff;
  --gray-400: #e8ebe6;
  --gray-100: #fafafa;
  --green-ligth: #9fe870;
  --green-hover: #c1f1a3;
  --blue-light: #A0E1E1;
  --blue-transparent: #16330014;
  --green-transparent: #285009;
  --black-700: #0e0f0c;
  --black-green: #163300;
  --gray-500: rgba(85, 85, 85, 0.55);
  --dove-gray-900: #3d3d3d;
  --font-primary: 'WISE', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}

.h2{
    font-family: 'WISE', sans-serif;
    font-size: large;
    font-style: normal;
}

.html{
    scroll-behavior: smooth;
}
body {
   height: 500vh;
}

main{
    flex:  1;
    margin-top: 100px;
}

/* HEADER */


.menu-desktop {
  padding: 1.5rem 6%;
  background-color: var(--black-green);
  color: var(--green-ligth);
  display: flex;
  /*justify-content: space-between;*/
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 99999;
}

.menu-left {
  display: flex;
  justify-content: space-around;
  align-items: center ;
}

.logo {
  font-family: var(--font-primary);
  font-size: 32px;
  color: var(--green-ligth);
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 60px;
}
.logo img {
  width: 32px;
  margin-right: -5px;
}

.menu-item {
  display: flex;
  justify-content: right;
  list-style: none;
  gap: 30px;
  color: var(--green-ligth);
}
.menu-link {
  text-decoration: none;
  color: var(--green-ligth);
  cursor: pointer;
  padding: 10px;
}
.menu-link:hover {
  padding: 10px;
  background: var(--green-transparent);
  border-radius: 15px;
}

.menu-btn{
  background-color: var(--green-ligth);
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  color: var(--black-green);
  cursor: pointer;
}
.menu-btn:hover {
  filter: brightness(1.3);
}

/* ESTILO DO MENU MOBILE */
.btn-sandwich button {
  display: none;
  padding: 10px;
  background-color: var(--green-transparent);
  border: none;
  border-radius: 50%;
}
.mobile-menu {
  display: none;
  background: var(--gray-100);
  height: 100vh;
  width: 100vh;
  position: fixed;
  z-index: 10000;
  padding: 1.2rem 6%;
  margin-top: 1.5rem;
  text-align: left;
}
.mobile-menu nav ul li {
  list-style: none;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  padding-top: 2.5rem;
}
.mobile-menu nav ul li a{
  text-decoration: none;
  color: var(--black-700);
  text-align: left;
}
.open-menu{
  display: block;
}

/*menu sublinhado*/
.menu-underline{ 
 
    width:100%; 
    display:block; 
    float:left;
   }
   .menu-underline a{
       text-decoration: none;
       color: var(--green-ligth);
       text-align: center;
       width: 130px;
       padding:0.5em 0;
       display: inline-block;
       font-weight: bold;
       transition: all .5s ease-in-out;
   }
   .menu-underline a:hover{
       text-decoration:none;
      
   }
   .menu-underline .underline{
       width: 130px;
       height:6px;
       border-radius:3px; 
       background-color: var(--green-ligth);
       transition: all .4s ease-in-out;
   }
   .menu-underline a:nth-child(1):hover~.underline{
       transition: all .4s ease-in-out;
       
   }
   .menu-underline a:nth-child(1):hover{
       color: var(--green-ligth);
   }
    
   .menu-underline a:nth-child(2):hover{
       color: var(--green-ligth);
   }
   .menu-underline a:nth-child(3):hover{
       color: var(--green-ligth);
   }
   .menu-underline a:nth-child(4):hover{
       color: var(--green-ligth);
   }
   .menu-underline a:nth-child(2):hover~.underline{
       transform:translate(135px);
       transition: all .4s ease-in-out;
       background-color: var(--green-hover);
   }
   .menu-underline a:nth-child(3):hover~.underline{
       transform:translate(270px);
       transition: all .4s ease-in-out;
       background-color: var(--green-hover);
   }
   .menu-underline a:nth-child(4):hover~.underline{
       transform:translate(405px);
       transition: all .4s ease-in-out;
       background-color:  var(--green-hover);
   }

   main{
    padding-top: 20px;
    flex: 1;
   }

   #saldos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* ou 'space-between', dependendo do efeito desejado */
    margin: 10px ;
    margin-bottom: 90px;
  }
  
  .card-saldo {
    flex: 1;
    min-width: 200px; /* Defina um tamanho mínimo se necessário */
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px; /* Adiciona bordas arredondadas */
    overflow: hidden; /* Garante que o conteúdo não ultrapasse as bordas arredondadas */
    border: 2px solid #ccc; /* Adiciona uma borda para destacar os cards */
    transition: transform 0.3s; /* Adiciona uma transição suave ao passar o mouse */
  }
  
  .card-saldo:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave ao passar o mouse */
  border-color: #666; /* Muda a cor da borda ao passar o mouse */
  }
  
  .card-saldo .card-body {
    padding: 15px;
  }
  
  .card-saldo .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card-saldo .card-text {
    font-size: 1.2em;
    color: #555;
  }

  .list-group-item {
    margin-top: 20px;
    display: flex;
    align-items: center; /* Alinhar verticalmente ao centro */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /*formulário de transferencia*/
/* Estilo geral do formulário */
#loginForm {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 60px;
  max-width: 300px;
  margin: 0 auto;
}

/* Estilo do cabeçalho */
#loginForm h1 {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 2em;
}

/* Estilo dos parágrafos */
#loginForm p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

/* Estilo dos rótulos */
#loginForm label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* Estilo das caixas de entrada */
#loginForm input {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

#loginForm input:focus {
  border-color: #454745;
}

/* Estilo do link */
#loginForm a {
  font-size: 13px;
  color: #555;
  transition: color 0.3s ease-in-out;
}

#loginForm a:hover {
  color: #163300;
}

/* Estilo do botão */
.btn {
  background-color:  #163300;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 15px !important;

}

.btn:hover {
  transform: scale(1.05);
  background-color: #9FE870;

}

.btn {
    margin-top: px;
    background-color: var(--green-ligth);
    color:var(--black-green);
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    padding: 8px 20px !important;
    border-radius: 15px !important;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.05);
    filter: brightness(1.3);
    background-color: 
    #9FE870;

}

  

/* Adicione um espaço considerável entre o formulário e os cards */
#formulario-transferencia {
margin-bottom: 30px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Adiciona bordas arredondadas */
    box-sizing: border-box;
}

select {
    cursor: pointer;
}

textarea {
    height: 40px; /* Ajuste a altura conforme necessário */
    resize: vertical; /* Permite redimensionamento vertical */
}

button {
    padding: 10px;
    background-color: var(--green-ligth);
    color: white;
    border: none;
    border-radius: 10px; /* Adiciona bordas arredondadas */
    cursor: pointer;
}

button:hover {
    background-color: var(--green-hover);
}

#conteudo{
    margin-top: 20px
}


   footer  {
    background-color: var(--black-green);
            color: var(--gray-400);
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
}
  


